class {
    userSettings(e, el) {
    	// do something
    }
}

<include('./modal.marko')>
    <@body>
    	<li class="link" on-click('userSettings')>
    	    <p>User Settings</p>
    	</li>
    </@body>
</include>
